*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
  margin:0;
	padding:0;
}
body{
   font-family:  'Source Sans Pro', sans-serif;
   /*margin: auto;*/
   
}
li{
    list-style: none;
    
}

footer{
    background-color: rgb(11, 11, 108);
    margin-top: 5rem;
    padding: 2rem;
}
.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: grey;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .fbn-fam{
    width: 1494px;
    height: auto;
    padding-left: 10px;
  }
  .categories{
    text-emphasis-color: white;
  }
  .home{
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  .fbn-logo{
  width: 5rem;
  height: auto;
  }
  .btn{
    background-color: rgb(216, 192, 13);
    border:0;
    padding: 1% 1.5%;
  }
  .fbn-pod{
    z-index: 1;
    top:0px;
    margin-left: 5rem;
  }
  .keys{
    width: 5rem;
    height: auto;
  }
  .live{
    width:2rem;
    height: auto;
  }
  .nig-bank{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .r-pod{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
  }

  .t-btn{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
  }

  .one{
    margin-bottom: 5rem;
    
  }
  .shutter{
    width: 4rem;
    height: 3rem;
    margin-top: 1rem;
  }

/*the footer*/
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	/*background-color: #24262b; */
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 15px 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.sec{
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
}
.sec p{
text-align: center;
}
.sec img{
  width: 20rem;
}

.first-monie{
  display: flex;
  margin: 5rem;
  justify-content: center;
}
.first-monie img {
  width:30rem;
}
.fm{
  margin-right: 20rem;
}
.blog{
  margin: 5rem;
}
